{:paths ["clj" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}

  org.clojure/core.async {:mvn/version "0.3.442"}
  manifold {:mvn/version "0.1.8"}

  org.apache.commons/commons-compress {:mvn/version "1.18"}
  org.clojure/data.fressian {:mvn/version "0.2.1"}
  metosin/jsonista {:mvn/version "0.2.5"}
  ;io.airlift/aircompressor {:mvn/version "0.16"}

  crouton {:mvn/version "0.1.2"} ;; HTML parsing library for Clojure - https://github.com/weavejester/crouton
  markdown-clj {:mvn/version "1.10.2"} ;; Markdown parser in Clojure - https://github.com/yogthos/markdown-clj

  org.clojure/data.zip {:mvn/version "0.1.2"}
  vvvvalvalval/supdate {:mvn/version "0.2.1"}
  com.rpl/specter {:mvn/version "1.1.2"}

  buddy/buddy-core {:mvn/version "1.6.0"}

  org.apache.hadoop/hadoop-client {:mvn/version "2.9.0"}
  com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.6.5"} ;; Because Spark 2.11 wants that
  org.apache.spark/spark-core_2.10 {:mvn/version "2.1.0"}
  org.apache.spark/spark-sql_2.10 {:mvn/version "2.1.0"}
  org.apache.spark/spark-mllib_2.10 {:mvn/version "2.1.0"}
  gorillalabs/sparkling {:mvn/version "2.1.3"}
  org.elasticsearch/elasticsearch-spark-20_2.10 {:mvn/version "7.0.1"}
  org.apache.lucene/lucene-core {:mvn/version "8.5.1"}
  org.apache.lucene/lucene-analyzers-common {:mvn/version "8.5.1"}

  net.mikera/core.matrix {:mvn/version "0.62.0"}
  net.mikera/vectorz-clj {:mvn/version "0.48.0"}

  edu.stanford.nlp/stanford-corenlp {:mvn/version "3.9.2"}
  edu.stanford.nlp/stanford-corenlp-models-french {:local/root "./models/stanford-french-corenlp-2018-10-05-models.jar"} ;; NOTE obtained by wget https://nlp.stanford.edu/software/stanford-french-corenlp-2018-10-05-models.jar

  clj-python/libpython-clj {:mvn/version "1.38"}

  clj-http {:mvn/version "3.9.1"}}


 :aliases
 {:dev ;; Code directories and dependencies useful during development.
  {:extra-deps {;; debugging tools
                criterium {:mvn/version "0.4.5"}
                vvvvalvalval/scope-capture {:mvn/version "0.3.2"}
                vvvvalvalval/scope-capture-nrepl {:mvn/version "0.2.0"}}}

  :nREPL ;; Enables you to run a remote Clojure REPL via nREPL.
  {:extra-deps
   {nrepl/nrepl {:mvn/version "0.6.0"}}}}}
